{% extends 'base.html' %} 
{% load static %} 
{% block title %} Add a Note {% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/form.css' %}" />
{% endblock %} {% block content %}

<div class="container">
<section class="form-control form-control-lg" style="background-color:#567317f3; border: #567317dc; margin-top: 1rem; " >
    {% if object %}
    <h1>Edit Your Note from {{note.date |date:"M d, Y"}}</h1>
    {% else %}
    <h1>Add a Note!</h1>
    {% endif %}
<form action="" method="post" class="form-container">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <button type="submit" class="btn btn-primary" style="background-color: var(--button-bg); color: var(--button-text-color);" >Submit!</button>
</form>
</section>
</div>
{% endblock %}
