{% extends 'base.html' %} 
{% load static %} 
{% block title %} Add a Note {% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/form.css' %}" />
{{ form.media.css }}
{% endblock %} {% block content %}

{% if object %}
<h1>Edit Your Note from {{note.date |date:"M d"}}</h1>
{% else %}
<h1>Add a Note!</h1>
{% endif %}
<div class="container">
<section class="form-control form-control-lg" style="background-color:#567317f3; border: #567317dc; margin-top: 1rem; " >
<form action="" method="post" class="form-container">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <button type="submit" class=" btn btn-primary" >Submit!</button>
</form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{{ form.media.js }}
</section>
</div>
{% endblock %}
