{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/notes/note-detail.css' %}" />
{% endblock %} {% block content %}
<section class="note-container">
  <div class="note-details">
    <h1>{{ note.title }}</h1>
    <p>Created: {{ note.date }} </p>
    <h4>Symptoms: </h4>
    {% if note.assessment.exists %}
        {% for symptom in note.assessment.all %}
        <li>{{ symptom.name }}</li>
    {% endfor %}
    {% else %}
    <p>You didn't record any symptoms!</p>
    {% endif %}
    <br>
    <h4>Notes: </h4>
    <p>{{ note.notes }}</p>
    <p>Last Updated: {{ note.updated }}</p>
  </div>
  <div>
    <button class="btn btn-primary" style="margin-right: 2rem; background-color: var(--button-bg); color: var(--button-text-color);">
    <a href="{% url 'note-update' note.id %}" >Edit</a>
  </button>
  <button class="btn btn-primary" style="background-color: var(--button-bg); color: var(--button-text-color);">
    <a href="{% url 'note-delete' note.id %}">Delete</a>
    </button>
  </div>
</section>
{% endblock %}

