{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/notes/note-index.css' %}" />
{% endblock %} {% block content %}
<section class="page-header">
  <h1>Field Notes</h1>
</section>
<section class="card-container">
  {% for note in notes %}
  <div class="card" style="width: 18rem; ">
    <a href="{% url 'note-detail' note.id %}" style="text-decoration: none;">
      <div class="card-body">
        <h5 class="card-title">{{ note.title }}</h3>
        <p class="card-subtitle mb-2 text-muted">{{ note.date|date:"M d, Y" }}</p>
        <p class="card-text">{{ note.notes}}</p>
      </div>
    </a>
  </div>
  {% endfor %}
</section>
{% endblock %}

