body {
    background: url(../../images/hippo.png)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: flex-start;
}
.note-container {
    background-color: #567317f3;
    width:35rem;
    padding: 1rem;
    border-radius: 10px;
    color: white;
    margin: 5rem 2rem;

    .note-detail {
      padding: 0 20px;
      flex-wrap: wrap;
      overflow: visible;
    }

    .btn {
      margin-right: 40px;
      background-color: var(--button-bg);
      border: var(--button-text-color);
      a{
        text-decoration: none;
        color: var(--button-text-color);
      }
    }
  h1{ 
    font-family: var(--marker);
    letter-spacing: 15px;
    font-size: var(--font-xxl);
  }
}


