body {
    background: url(../../images/lion4.png)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
h1 {
    text-align: center;
    font-size: 60px;
    margin-top: 3rem;
    color: black;
} 
.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

.card{
    background: url(../../images/contrast.png) no-repeat center;
    background-size: cover;
    width:200px;
    height: 350px;
    text-decoration: none;
    margin: 4rem;
    border: none;
    overflow: hidden;
    h5, p {
        color:black;
    }
  
}
.card-body {
    margin-top: 2rem;
    height:200px;
}


