body {
    background: url(../../images/Symptom\ Safari.svg)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.card{
    background: url(../../images/offroader.png) no-repeat center;
    background-size: cover;
    width:300px;
    height: 350px;
    margin: 10px; 
}

