body {
    background: url(../../images/lion4.png)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: var(--varela);
}
h1 {
    text-align: center;
    font-size: var(--font-xtreme);
    color: black;
    font-family: var(--marker);
    letter-spacing: 10px;
    margin-top: 3rem;
} 
.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

.card{
    background: url(../../images/contrast.png) no-repeat center;
    background-size: cover;
    width:200px;
    height: 350px;
    text-decoration: none;
    margin: 2rem;
    border: none;
    overflow: hidden;
    h5, p {
        color:black;
    }
    h5 {
        font-size: var(--font-l);
        font-family: var(--marker);
        letter-spacing: 3px;
    }
    p{
        font-size: var(--font-reg)
    }
  
}
.card-body {
    padding: 3.5rem 1.5rem;
    height:200px;
}

.card-text{
    height: 150px;
    overflow: hidden;
}
