{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/about.css' %}" />
{% endblock %}
{% block content %}
  <body>
    <div class="container" style="justify-content: center; color: white; margin-top: 3%;">
      <h1>About Symptom Safari!</h1>
      <h3>Taming those treatment tigers (one symptom at a time)!</h3>
      <p> Join us on an adventure to track down and document how you are feeling each day. This is a child friendly app to help keep track of patterns. It even has an option to download your notes to bring in to your next doctor's appointment! </p>
    </div>
    {% endblock %}
  </body>
</html>
