{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}
{% block content %}

<section class="container" style=" position:relative; width:fit-content;">
    <img src="{% static 'images/symptom-safari-logo.png'%}" alt="The Symptom Safari Logo" style="height: 400px; width: 400px; position: fixed; left: 8rem; top: 8rem" />
</section>
<div class="container" style=" position:relative; width:fit-content;">
    {% if not user.is_authenticated %}
    <section class="form-control form-control-lg" style="background-color: #F2AE2E; border: #d97981ba; position:fixed; right: 8rem; bottom: 10rem; width:fit-content; margin: 3rem;" >
            <form action="{% url 'home' %}" method="post" class="login-form">
                <h1>Login</h1>
                {% csrf_token %}
                {{ form.as_p }}
                <input type="hidden" name="next" value="{{ next }}" />
                <button type="submit" class="btn btn-primary" style="background-color: var(--button-bg); color: var(--button-text-color);">Login</button>
            </form>
    </section>
</div>
    {% endif %}
    {% endblock %}