{% extends 'base.html' %} 
{% load static %} 
{% block title %} Sign Up {% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/form.css' %}" />
{% endblock %}
{% block content %}

<div class="container" style=" align-items:flex-start; width:fit-content">
  <h1>Come join us on the hunt for Symptoms on the Safari!</h1>
  <section class="form-control form-control-lg" style="background-color:#567317f3; border: #567317dc; margin-top: 1rem; ">
{% if error_message %}
<p class="red-text">{{ error_message }}</p>
{% endif %}
<form action="" method="post" class="form-container" autocomplete="off ">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <button type="submit" class="btn btn-primary">Submit!</button>
</form>
</section>
</div>
{% endblock %}
