body {
  background: url(../images/tiger.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: var(--varela);
}

h1 {
    font-size: var(--font-xtreme);
    font-family: var(--marker);
    letter-spacing: 6px;
}
h3 {
  font-size: var(--font-xl);
}
p {
  font-size: var(--font-l);
  width: 50%;
}


