body {
  background: url(../images/cheetahs.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: var(--varela);
}

h1 {
  font-size: var(--font-xtreme);
  font-family: var(--marker);
  letter-spacing: 6px;
}

.btn,
.btn:hover {
  align-self: end;
  margin: 40px;
  background-color: var(--button-bg);
  color: var(--button-text-color);
  border: var(--button-text-color);
}
